<%= simple_form_for([@pregnancy,@litter]) do |f| %>
  <% if @pregnancy.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@pregnancy.errors.count, "error") %> prohibited this litter from being saved:</h4>

      <ul>
      <% @pregnancy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pregnancy %>
    <%= f.select(:pregnancy_id, Pregnancy.all.map{|p|["#{p.name} - #{p.dog.call_name}", p.id]}, include_blank: 'Select a pregnant bitch') %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select(:gender, Dog::GENDER_TYPE.collect{|s|[s,s]}, include_blank: 'Select a gender' ) %>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.select(:color_id, Color.all.map{|c|[c.name, c.id]}, include_blank: 'Select a color') %>
  </div>
    <%= f.label :survival %>
    <%= f.input :survival, :label=> false, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
  
    <%= f.label :cleft_palate %>
    <%= f.input :cleft_palate, :label=> false, :as => :radio_buttons, :item_wrapper_class => 'inline' %>
    <%= f.label :dog_id %>
    <%= f.select(:dog_id, Dog.all.map{|d|[d.call_name, d.id]}, include_blank: 'Select a dog') %>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary'  %>
  </div>
<% end %>
