<%= form_for(@dog_expense) do |f| %>
  <% if @dog_expense.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@dog_expense.errors.count, "error") %> prohibited this dog_expense from being saved:</h4>

      <ul>
      <% @dog_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.label :dog %>
    <%= f.select(:dog_id, Dog.all.map{|d| [d.name, d.id]}, :include_blank => 'Select a Dog') %>
  
  
    <%= f.label :charge %>
    <%= f.select(:charge_id, Charge.all.map{|c| [c.name, c.id]}, :include_blank => 'Select a Charge') %>
  <%= date_value(@dog_expense.charge_date) %>
    <%= f.label :charge_date %>
    <div class="input-append date" id="dp3" data-date-format="yyyy-mm-dd">
      <%= f.text_field :charge_date, value: date_value(@dog_expense.charge_date), :readonly => true %><span class="add-on"><i class="icon-th"></i></span>
    </div>
   
    <%= f.label :currency %>
    <%= f.select(:currency, $CURRENCIES.map{|c| [c,c]})%>
  

  
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  
    
    <%= f.label :show_entry %>
    <%= f.select(:show_entry_id, ShowEntry.all.map{|s| [("#{s.show_date} - #{s.show.name} - #{s.dog.call_name} "), s.id]}, :include_blank => 'Select a Show Entry') %>
  
  
    <%= f.label :note %>
    <%= f.text_area :note , id: 'message_area'%>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
