<%= simple_form_for(@status) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :sort %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
