<div class="root">
  <div class="row">
      <div class="span12">
          <div class="grey-box">
            <div class="page-header">
            <h4>Dogs</h4>
            <%= add_new_btn(new_dog_path) %>
            </div>

              <div class="tabbable">
                <ul class="nav nav-pills" id="doglist">
                  <li class="active">
                    <a href="#" data-toggle="tab" data-id="male">
                      <span class="badge"><%= Dog.dogs.size %></span>&nbsp;Male</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="tab" data-id="female">
                    <span class="badge"><%= Dog.bitches.size %></span>&nbsp;Female</a>
                  </li>
                  <li>
                    <a href="#" data-toggle="tab" data-id="all">
                    <span class="badge"><%= @dogs.size %></span>&nbsp;All dogs</a>
                  </li>
                </ul>
                
                <div class="tab-content">
                    <% if @dogs.any? %>
                    <div>
                      <span class="badge"><%= @dogs.size %></span> <%= 'dog'.pluralize(@dogs.size) %> in the database 
                      <span class="badge"><%= Dog.dogs.size %></span> Males
                      <span class="badge"><%= Dog.bitches.size %></span> Bitches
                      <span style="float:right">
                        Download:
                        <%= link_to('<i class="icon-file"></i>CSV'.html_safe, dogs_path(format:"csv")) %> |
                        <%= link_to('<i class="icon-file"></i>Excel'.html_safe, dogs_path(format:"xls"))%>
                      </span>
                    </div>
                  <% end %>

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Call name</th>
                        <th>Birthday</th>
                        <th>Gender</th>
                        <th>Color</th>
                        <th>Reg. no</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @dogs.each do |dog| %>
                        <tr class="<%= dog.gender %>">
                          <td><%= link_to(dog.call_name, dog) %></td>
                          <td><%= dog.birthday %></td>
                          <td><%= dog.gender %></td>
                          <td><%= dog.color.name %></td>
                          <td><%= dog.registration_no %></td>
                          <td>
                            <div class="btn-group">
                              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-edit icon-white"></i>Actions
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><%= link_to '<i class="icon-eye-open"></i> Show'.html_safe, dog %></li>
                                <li><%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_dog_path(dog) %></li>
                                <li class="divider"></li>
                                <li><%= link_to '<i class="icon-trash"></i> Delete'.html_safe, dog, method: :delete, data: {confirm: 'Are you sure?'} %></li>
                              </ul>
                            </div>  
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                  <br>

                  <%= link_to 'New Dog', new_dog_path %>
                </div><!-- ./tab-content -->
              </div><!-- ./tabbable -->
            
        </div>      
      </div>
  </div>
</div>