<div class="root">
  <div class="row">
    <div class="span12">
      <div class="grey-box">
        
        <div class="page-header">
          <h4>Pregnancies</h4>
          <%= add_new_btn(new_pregnancy_path) %>
        </div>
        
        <% if @pregnancies.any? %>
          <div><span class="badge"><%= @pregnancies.size %></span> <%= 'pregnancy'.pluralize(@pregnancies.size) %> so far in year of <%= Date.today.year.to_s %>
          <span class="badge"><%= Pregnancy.expected.size %></span> expected soon</div>
        <% end %>
        

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Pregnant Dog</th>
              <th>Heat start date</th>
              <th>Estimate Due date</th>
              <th>Estimate Surgery date</th>
              <th>Puppy</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @pregnancies.each do |pregnancy| %>
              <tr>
                <td><%= link_to pregnancy.name, pregnancy %></td>
                <td><%= pregnancy.dog.call_name %></td>
                <td><%= pregnancy.heat_start_date %></td>
                <td><%= pregnancy.due_date %></td>
                <td><%= pregnancy.surgery_date %></td>
                <td><%= pregnancy.total_puppy %></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-edit icon-white"></i>Actions
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_pregnancy_path(pregnancy) %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, pregnancy, method: :delete, data: {confirm: 'Are you sure?'} %>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Pregnancy', new_pregnancy_path %>
      </div>
    </div>
  </div>
</div>