<div class="root">
  <div class="row">
    <div class="span12">
      <div class="grey-box">
        
        <div class="page-header">
          <h4>Pregnancies</h4>
          <%= add_new_btn(new_pregnancy_path) %>
        </div>
        
        <div class="tabbable">
          <ul class="nav nav-pills" id="listBtns">
            <li class="active">
              <a href="#" data-toggle="tab" data-id="due"><span class="badge"><%= Pregnancy.expected.size %></span>&nbsp; Expected soon</a>
            </li>
            <li>
              <a href="#" data-toggle="tab" data-id="already">
              <span class="badge"><%= Pregnancy.already_due.size %></span>&nbsp;Already Due</a>
            </li>
            <li><a href="#" data-toggle="tab" data-id="all"><span class="badge"><%= @pregnancies.size %></span>&nbsp;All Pregnancies</a></li> 
          </ul>
          
          <div class="tab-content">
            
              <% if @pregnancies.any? %>
                <div><span class="badge"><%= @pregnancies.size %></span> <%= 'pregnancy'.pluralize(@pregnancies.size) %> so far in year of <%= Date.today.year.to_s %>
                <span class="badge"><%= Pregnancy.expected.size %></span> expected soon
                <span style="float:right">
                  Download:
                  <%= link_to('<i class="icon-file"></i>CSV'.html_safe, pregnancies_path(format:"csv")) %> |
                  <%= link_to('<i class="icon-file"></i>Excel'.html_safe, pregnancies_path(format:"xls"))%>
                </span>
              </div>
              <% end %>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Pregnant Dog</th>
                    <th>Heat start date</th>
                    <th>Estimate Due date</th>
                    <th>Estimate Surgery date</th>
                    <th>Due in</th>
                    <th>Age</th>
                    <th>Puppy</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @pregnancies.each do |pregnancy| %>
                    <%= render :partial => 'data', locals: {pregnancy: pregnancy} %>
                  <% end %>
                </tbody>
              </table>

              <br>
              <%= link_to 'New Pregnancy', new_pregnancy_path %>
          </div><!-- ./tab-content -->
        </div><!-- ./tabbable -->



        
      </div>
    </div>
  </div>
</div>
