<div class="root">
  <div class="row">
    <div class="span12">
      <div class="grey-box">
        <p id="notice"><%= notice %></p>
        <h4>Pregnancy Detail</h4>

        <div class="tabbable">
          <ul class="nav nav-pills">
            <li class="active"><a href="#pane1" data-toggle="tab">Pregnancy Information</a></li>
            <!-- 
            <li>
              <a href="#pane2" data-toggle="tab">
              <span class="badge pull-right"><%= @pregnancy.matings.size %></span>
              Matting Information
              </a>
            </li>
            <li>
              <a href="#pane3" data-toggle="tab">
              <span class="badge pull-right"><%= @pregnancy.litters.size %></span>
              Litter Information</a>
            </li>
            <li><a href="<%= pregnancies_path() %>">Pregnancies List</a></li> 
          -->
          </ul>

          <div class="tab-content">
            <div id="pane1" class="tab-pane active">
              <p>
                <strong>Name:</strong>
                <%= @pregnancy.name %>
              </p>
              <p>
                <strong>Bitch:</strong>
                <%= @pregnancy.dog.name %>
              </p>
              <p>
                <strong>Color:</strong>
                <%= @pregnancy.dog.color.name %>
              </p>
              <p>
                <strong>Heat start date:</strong>
                <%= @pregnancy.heat_start_date %>
              </p>
              <p>
                <strong>Estimate Due date:</strong>
                <%= @pregnancy.due_date %>
              </p>
              <p>
                <strong>Estimate Surgery date:</strong>
                <%= @pregnancy.surgery_date %>
              </p>
              <p>
                <strong>Note:</strong>
                <%= @pregnancy.note %>
              </p>
              <p>
                <strong>Total puppy:</strong>
                <%= @pregnancy.total_puppies %>
              </p>
              <p>
                <strong>Puppies Age:</strong>
                <%= time_ago_in_words(@pregnancy.surgery_date) %>
              </p>
              <%= link_to 'Edit', edit_pregnancy_path(@pregnancy),class: 'btn btn-primary'  %> |
              <%= link_to 'Back', pregnancies_path,class: 'btn btn-primary'  %>
            </div>
            <br/>
            
            <!-- <div id="pane2" class="tab-pane"> -->
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#pane2" data-toggle="tab">
                <span class="badge pull-right"><%= @pregnancy.matings.size %></span>
                Matting Information&nbsp;
                </a>
              </li>
            </ul>
            
            <br/><p><strong>Heat start date:</strong><%= @pregnancy.heat_start_date %></p>
            <table class="table table-striped">
              <tr>
                <td>Sire</td>
                <td>Color</td>
                <td>Progesterone</td>
                <td>Mating Date</td>
                <td>Days</td>
                <td></td>
              </tr>
              <% @pregnancy.matings.order('mating_date DESC').each do |mating| %>
                <tr>
                  <td><%= mating.sire.name %></td>
                  <td><%= mating.sire.color.name %></td>
                  <td><%= mating.progesterone %> ml</td>
                  <td><%= mating.mating_date %></td><td><%=  distance_of_time_in_words(mating.mating_date, @pregnancy.heat_start_date)%></td>
                  <td>
                    <%#= link_to "Edit", edit_pregnancy_mating_path(@pregnancy, mating), :class => "btn"%>
                    <%= link_to "Edit", edit_pregnancy_mating_path(@pregnancy, mating), :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "my-modal", "data-no-turbolink" => true %>
                  </td>
                </tr>
              <% end %>
            </table> 
                    <div class="modal hide fade" id="my-modal" title="My modal">
                      <div class="modal-header">
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                        <h3 id="myModalLabel">Modal header</h3>
                      </div>
                      <div class="modal-body">
                      </div>
                      <div class="modal-footer">
                        <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
                      </div>
                    </div>
            <div>
            <a href="javascript:void(0)" onclick="javascript:$('.panel').slideToggle('slow')" class="btn btn-primary">Add Mating</a>
            </div>
            <div class="panel">
              <h4>Add Mating Record</h4>
              <%= render 'matings/matingForm' %>
            </div>
            <!-- </div> -->
            
            <!-- <div id="pane3" class="tab-pane"> -->
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#pane3" data-toggle="tab">
                <span class="badge pull-right"><%= @pregnancy.litters.size %></span>
                Litter Information&nbsp;</a>
              </li>
            </ul>

            <h4>Litter Information</h4>
            <table class="table table-striped">
              <tr><td>Gender</td><td>Color</td><td>Survival</td><td></td></tr>
              <% @pregnancy.litters.each do |litter| %>
                <tr>
                  <td><%= litter.gender %></td>
                  <td><%= litter.color.name %></td>
                  <td><%= yesno(litter.survival) %></td> 
                  <td><%= link_to "Edit", edit_pregnancy_litter_path(@pregnancy, litter) %></td> 
                </tr>
              <% end %>
            </table>

            <div>
              <a href="javascript:void(0)" onclick="javascript:$('.litter-panel').slideToggle('slow')" class="btn btn-primary">Add Litter</a>
            </div>
            <div class="litter-panel">             
              <h4>Add Litter</h4>
              <%= render 'litters/litterForm' %>
            </div>    
            <!-- </div> -->
            
          </div><!-- ./tab-content -->
        </div><!-- ./tabbable -->



      </div>
    </div>
  </div>
</div>