<div class="root">
  <div class="row">
      <div class="span12">
          <div class="grey-box">
            <div class="page-header">
              <h4>Welcome</h4>
      			</div>
      			
            <% if current_user %>
      				<!-- <p>logged in</p>
      			  <p>Do you have admin role?&nbsp;&nbsp;<strong><%#= current_user.admin? %></strong></p> -->
              <div class="row"> 
                <div class="span5" style="width: 550px;">
                  <%= render :partial => 'puppyByLitterAndGender' %>
                </div>
                <div class="span5" style="width: 550px;">
                  <%#= render :partial => 'puppyByGenderChart' %>
                </div>
              </div>
              
              <div class="row"> 
                <div class="span5" style="width: 550px;">
                  <%= render :partial => 'puppyByColorChart' %>
                </div>
                <div class="span5" style="width: 550px;">
                  <%= render :partial => 'puppyByGenderChart' %>
                </div>
              </div>
              
              <div class="row">   
                <div class="span5" style="width: 550px;">
                  <%= render :partial => 'puppyByLitterBar' %>
                </div>
                <div class="span5" style="width: 550px;">
                  <%= render :partial => 'puppyByLitterLine' %>
                </div>
              </div>
            <% else %>
      				not login
      			<% end %>

       	</div>      
      </div>
  </div>
</div>