<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h4>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kennel_club %>
    <div class="controls">
    <%= f.text_field :kennel_club %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date %>
    <div class="controls">
    <%= f.text_field :start_date,'data-behaviour' => 'datepicker', value: date_value(@show.start_date), :readonly => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date %>
    <div class="controls">
    <%= f.text_field :end_date,'data-behaviour' => 'datepicker', value: date_value(@show.end_date), :readonly => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location %>
    <div class="controls">
    <%= f.text_field :location %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
